body {
  color: #FFCD00;
  background-color: #FFFFFF;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 9pt;
}

.header {
  background: url('../images/apples.jpg');
  background-size: 100% auto;
  border-radius: 15px;
}

.header h1 {
  font-size: 50px;
  color: #FFFFFF;
  font-weight: bold;
  margin: 10px;
  text-shadow:2px 3px 3px red;
  font-family: 'Amatic SC', cursive;
}

.img-circle {
    border-radius: 50%;
    width:50%;
    padding: 1%;
    margin:auto;
}

.box {
    margin: auto;
    margin-top: 2%;
    width: 85%;
    border: 2px solid #007536;
    border-radius: 10px;
    padding: 1%;
}

.container {
  border-radius: 15px;
  background-color: #C4F0FF;
  margin: auto;
  width: 90%;
  padding: 2%;
  text-align: center;
}

.content-box {
  width: 100%;
  display: inline-flex;
  margin: auto;
}


.content {
  background-color:#0DCFFF;
  width:45%;
  padding: 2%;
}

.content1 {
  background-color:white;
  width:45%;
  padding: 2%;
}

#navi {
  color: green;
  font-size: 18px;
  font-family: "Trebuchet MS",verdana,arial,helvetica,sans-serif;
  font-style: italic;
  text-align: left;
  list-style: none;
}

#navi li {
  display: inline-block;
  padding: 1% 2%;
}

#navi a {
  color: green;
  text-decoration: none;
}

/** experience*/
.image {
  width: 95%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.footer {
  color:green;
  text-align: right;
  padding-top: 1%;
  padding-right: 2%;
  margin:auto;
}

/** font */
body h1 {
  font-size: 50px;
	color: #00AF23;
	font-weight: bold;
  margin: 10px;
  text-shadow:2px 3px 3px #006F16;
	font-family: 'Amatic SC', cursive;
}

.container h2 {
  padding: 1px;
  text-align: left;
  text-decoration: underline;
  font-size: 22px;
  font-weight: bold;
  margin:5px;
}

.container h4 {
  text-align: center;
  font-size: 15px;
	color: #6600FF;
}

.container1 h4 {
  text-align: center;
  font-size: 15px;
	color: #6600FF;
}

.container p {
  text-align: left;
  padding: 1px;
  font-size: 16px;
	color: #0000FF;
}

.container p a{
  text-align: left;
  font-style: italic;
  font-weight: bold;
  padding: 1px;
  font-size: 16px;
	color: blue;
}

.icon {
  margin:5px;
  width:64px;
}

.inline-icon {
  float:left;
  padding: 5px;
  margin-left: 5px;
  margin-top: 20px;
  width:64px;
}
